[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"

[packages]
click = "*"
pyinquirer = "*"
pyfiglet = "*"
colorama = "*"
termcolor = "*"
requests = "*"
bs4 = "*"
pause = "*"
requests-random-user-agent = "*"
tcp-latency = "*"

[requires]
python_version = "~3.8.5"

[pipenv]
allow_prereleases = true
